HOST=localhost
PORT=3000
MICROSOFT_CLIENT_ID="436336ad-25a7-49ad-be1c-a7dcc1736be1"
MICROSOFT_TENANT_ID="YOUR_TENANT_GUID"
MICROSOFT_CLIENT_SECRET="YOUR_SECRET_VALUE"
MICROSOFT_REDIRECT_URI="http://localhost:3000/auth/microsoft/callback"
FIXMYCAMPUS_BASE_URL="http://localhost:3000"
FIXMYCAMPUS_DB_PATH=""
